reports/*.pdf
reports/*.PDF
reports/*.txt
reports/*.TXT
reports/*.xls
reports/*.XLS

python/*.pdf
python/*.PDF
python/*.txt
python/*.TXT
python/*.xls
python/*.XLS

config.php
python/run.py
python/711.py
python/conf.ini
mdb/*
payroll.sql
python/correction.py
